/* General Page Style */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: rgba(74, 80, 86, 0.8);
}

/* Header */
header {
    background-color: rgb(249, 242, 234);
    color:rgba(74, 80, 86, 0.8);
    padding: 20px;
    text-align: center;
}

/* Navigation Bar */
nav {
    background-color: #162447;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
section {
    padding: 20px;
}

/* Property Cards */
article {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

article h3 {
    margin-top: 0;
    color: #1f3c88;
}

/* Footer */
footer {
    background-color: #434343;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    
}


