{% extends 'base.html' %}

{% block title %}
Home - Dream Home Real Estate
{% endblock title %}

{% block content %}
    <header class="d-flex align-items-center justify-content-center flex-column" style="height: 600px; background-color: rgb(249, 242, 234); color:rgba(74, 80, 86, 0.8);">
        <h1>Dream Home Real Estate</h1>
        <p>Find Your Perfect Property</p>
    </header>
    
    <hr>
    <section>
        <div class="container">
            <h2 class="text-center fw-bolder pb-3">Available Properties</h2>
            <div class="flex row wrap gap-20">
                <article class="col-lg-6">
                    <h3>Modern Apartment</h3>
                    <p>Location: Downtown</p>
                    <p>Price: $150,000</p>
                </article>
                <article class="col-lg-6">
                    <h3>Modern Apartment</h3>
                    <p>Location: Downtown</p>
                    <p>Price: $150,000</p>
                </article>
                <article class="col-lg-6">
                    <h3>Luxury Villa</h3>
                    <p>Location: Beachside</p>
                    <p>Price: $450,000</p>
                </article>
                <article class="col-lg-6">
                    <h3>Luxury Villa</h3>
                    <p>Location: Beachside</p>
                    <p>Price: $450,000</p>
                </article>
            </div>
            
        </div>
    </section>
    <hr>

{% endblock content %}