<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
          
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'estate_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'estate_app/css/bootstrap.min.css' %}">
</head>
<body>

  {% include 'includes/header.html'   %}
  {% block content %}
        
  {% endblock content%}
  {% include 'includes/footer.html'   %}  
  

  <script src="{% static 'estate_app/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
